---
import '../styles/global.css'

import { Font } from 'astro:assets';

interface Props {
  data: {
    title: string;
    cover: string;
    platform: string;
    releaseDate: string;
    finishedAt: Date;
  };
}

const { title, cover, platform, releaseDate, finishedAt } = Astro.props.data;
const base = import.meta.env.BASE_URL;

const coverPath: string = `${base}${cover.replace(/^\//, '')}`;
const platformLogoPath: string = `${base}/images/platforms/${platform}.svg`;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
    <Font cssVariable="--font-pixel"/>
    <!-- <Font cssVariable="--font-poppins"/> -->
		<link rel="icon" href=href={`${base}hg_favicon.ico`} />
		<meta name="viewport" content="width=device-width" />
		<title>{title} - HinoGames</title>
	</head>
	<body>
    <div class="container">
      <header class="review-header">
        <img src={coverPath} alt={`Portada de ${title}`} class="cover"/>
        <div class="info-game">
          <h1>{title}</h1>
          <span class="platform" style={`--icon: url(${platformLogoPath})`}></span>
          <div class="releaseDate">
            <span>Fecha de lanzamiento:</span>
            <h4 class="date">{releaseDate}</h4>
          </div>          
          <div class="finishedAt">
            <span>Fecha de finalización:</span>
            <h4 class="date">{finishedAt.toLocaleDateString('es-ES')}</h4>
          </div>
        </div>
      </header>

      <article class="review-body">
        <!-- Donde se inyecta el Content pasado por el padre -->
        <slot /> 
      </article>
    </div>
	</body>
</html>
